body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-l-1 {
  padding-left: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.pointer {
  cursor: pointer;
}

.todo label {
  margin-top: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
}

.fz-1-2 {
  font-size: 1.2rem !important;
}

.todo-value {
  color: black;
}

.todo-value.completed {
  text-decoration: line-through;

}